<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorGoogleAuth</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Hem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                Min profil (kräver inloggning)
            </NavLink>
        </div>
        <AuthorizeView Roles="Editor,Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="editor">
                        Redigera innehåll (Editor/Admin)
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        Adminpanel (Admin)
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/users">
                        Hantera användare &amp; roller
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/roles">
                        Hantera rolltyper
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
